---
extension: html
filter:
  - erb
  - haml
layout: default
---
.article
  %h2.title= link_to @page.title, @page.url
  %p.meta
    scris de
    = @page.author
    pe
    = @page.created_at.strftime("%Y-%m-%d")
  .body
    = @content
  .footer
    - if @page.categories && !@page.categories.empty?
      %h4.meta in:
      %p= @page.categories.join(", ")
    - if @page.tags && !@page.tags.empty?
      %h4.meta tag-uri:
      %p= @page.tags.join(", ")

  - if @page.title =~ /wurbe #(1[89]|2\d)/
    #disqus_thread
    %script{ :type => "text/javascript", :src => "http://disqus.com/forums/wurbe/embed.js" }
    %noscript
      %a{ :href => "http://wurbe.disqus.com/?url=ref" }
        View the discussion thread.
    %a.dsq-brlink{ :href => "http://disqus.com" }
      blog comments powered by
      %span.logo-disqus
        Disqus
  - else
    #commentslist
      %h3#comments.content
        Comentarii
      %p In curs de mutare pe disqus
